body {
    margin: 0;
    
    font-family: 'bodyFont', sans-serif;
}

@font-face {
    font-family: 'bodyFont';
    src: url("../pictures/RopaSansSCPro-Regular.otf");
    
}

#container {    
    position: relative; 
    width: 1000px;
   /* height: 500px; */
    margin-left: auto;
    margin-right: auto; 
    padding-top: 160px;
    padding-bottom: 50px;
}

header {
    
    background-color: #e0c8c6;
    width: 100%;
    position: fixed;
    z-index: 1; 
    top: 0;
}

.contentHeader {
    margin-left: auto;
    margin-right: auto; 
    height: 153px; 
    width: 1024px; 
}

.logo {
    float: left;
    
    font-size: 15px;
}


nav {
    float: right;
    height: 30px;
    margin-top: 100px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


ul li {
	display: inline;
	font-weight: bold;
    font-size: 25px;
    float: left;
    margin-right: 12px;
   
}

ul li a {
    text-align: center;
    text-decoration: none;
    text-decoration-color: aqua;
}

li {
    list-style: none;
    float: left;
    margin-left: 15px;
    font-family: 'bodyFont';
}

.loginSticker {
    position: absolute; 
    z-index: 1; 
    /*left: 1200px;*/
    right: 100px; 
}

footer {
    background-color: #e0c8c6;
    text-align: center;
    height: 40px; 
    width: 100%;
    padding-top: 5px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    
}