@charset "utf-8";
/* CSS Document */

body{
  padding-top: 90px;
}

.logo {
  display: inline-block;
  max-width: 20%;
  height: auto;
}

.row li a{ /*container die de containerS midden vast houdt*/
  color:#000;
}
.row p{
  font-family: 'Montserrat', sans-serif;
  margin-top:10px;
}

.col-md-3{
}

.btn{
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
}

.btn:hover{
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
}


.col-md-3 h3 a{
color:#000;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}

.footer{
  margin-top:30px;
  background-color:#e8e8e8;
}

.footbox a{
margin-top:30px;
margin-left:5px;

}

.dropdown-menu li a{
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
  background-color:

}
.dropdown-menu li a:hover{

  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
  background-color:#b9d4ce;
  color:#000;

}


.navbar{
  background-color:#0d3531;
  -webkit-box-shadow: 0px 7px 5px -6px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 7px 5px -6px rgba(0,0,0,0.64);
  box-shadow: 0px 7px 5px -6px rgba(0,0,0,0.64);
}

.nav li{
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
}
.nav li:hover{

  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
background-color:#b9d4ce;

}
.container a{

color:#e8e8e8;

}
.row h3 a{

  background-color:#fff;
}
.row a{
font-family: 'Montserrat', sans-serif;
color:#000;
background-color:#b9d9ce;
}

.jumbotron{

width:100%;

}
.jumbotron p{
/*container midden*/
color:#000;
font-family: 'Montserrat', sans-serif;
font-size:16px;
}
.jumbotron a{
/*container midden*/
color:#000;
background-color:#fff;
font-family: 'Montserrat', sans-serif;

}


@media (max-width:768px){
.input-group{
  margin-bottom:5px;
  padding-bottom: 5px;
}
}

.brand{
max-height:25px;

}
.footbox{}
