@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'RopaSansSCPro'; /*a name to be used later*/
    src: url('/fonts/RopaSansSCPro-Regular.otf'); /*URL to font*/
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#map{
  height: 250px;
  margin-top: 20px;
}

body{
  padding-top: 90px;
   font-family: 'RopaSansSCPro';
}

.logo {
	background-image: url("static/WebAppSofie/images/def_logos_via_sofie-RGB-01.png");
}

h1, h2, h3, h4, h5, p {
 font-family: 'RopaSansSCPro';
}

.row li a{
 /*container die de containerS midden vast houdt*/
 color:#000;
}
.row p{
  font-family: 'RopaSansSCPro';
  margin-top:10px;
}

.col-md-3{

}

.btn{
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
}

.btn:hover{
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
}

.col-md-3 h3 a{
  color:#000;
  text-decoration: none;
  font-family: 'RopaSansSCPro';
}

.footer{
  margin-top:30px;
  background-color:#e8e8e8;
}

.footbox a{
margin-top:30px;
margin-left:5px;

}

.dropdown-menu li a{
  font-family: 'RopaSansSCPro';
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
  background-color:

}
.dropdown-menu li a:hover{

  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
  background-color:#b9d4ce;
  color:#000;

}


.navbar{
  background-color:#0d3531;
  -webkit-box-shadow: 0px 7px 5px -6px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 7px 5px -6px rgba(0,0,0,0.64);
  box-shadow: 0px 7px 5px -6px rgba(0,0,0,0.64);
}

.navbar-brand {
  padding: 0px;
  padding-top: 5px;

}

.nav li{
  font-family: 'RopaSansSCPro';
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
}
.nav li:hover{

  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
background-color:#b9d4ce;

}

.row h3 a{

  background-color:#fff;
}
.row a{
font-family: 'RopaSansSCPro';
color:#000;
background-color:#b9d9ce;
}

.jumbotron{

width:100%;

}
.jumbotron p{
/*container midden*/
color:#000;
font-family: 'RopaSansSCPro';
font-size:16px;
}
.jumbotron a{
/*container midden*/
color:#000;
background-color:#fff;
font-family: 'RopaSansSCPro';

}


@media (max-width:768px){
.input-group{
  margin-bottom:5px;
  padding-bottom: 5px;
}
}

.brand{
max-height: 50px;

}
.footbox{}
