body {
	text-align: center;
    background-color: #e0c8c6; /* dit is niet roze in reality?*/

}

.body {
    margin: 0 auto;
   /* width: 70%;*/
    clear: both;
}

#container {

}

.mainHeader {
    background-color: beige;
}

.navigatie {
    height: 60px;
    margin-top: 30px;
}

/* navigatie */
.navigatie ul {
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    list-style-type: none;
    height: 30px;
    width: 940px;

}

.navigatie ul li {
	display: inline;
	font-weight: bold;
    text-decoration-color: #e8e8e8;
    font-size: 2rem;
    float: left; /*horizontale menubar*/
    height: 30px;

}

.navigatie ul li a {
    display: block;
    color: #e8e8e8;
    text-align: center;
    text-decoration: none;
    background-image: url("pictures/zeshoek.png");
    height: 50px;
    width: 235px;
}

.picture {
    padding-top: 10px;
    padding-bottom: 10px;

}

img {
    max-width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 40px;
    float: left;
    background-color: beige;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer p {
    width: 92%;
    margin: 1% auto;
    color: black;
}
