{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}ViaSofie{% endblock %}</title>


    <link rel="stylesheet" type="text/css" href="{% static "WebAppSofie/default2.css" %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static "WebAppSofie/default2.css" %}" />-->

    <script src="{% static "WebAppSofie/jquery-2.0.0.min.js"%}"></script>
    <!--<script src="{% get_static_prefix %}js/ajax.js"></script>-->

</head>

<body>
	<div id="page">

    <div id="header">
        {% block menubar %}
        <img src="{% static "images/python-logo.jpg" %}" width="200"/><!--logo-->
        <ul>
            <li><a href="">Over</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Welkom</a></li>
            <li><a href="">Kopen</a></li>
            <li><a href="">Huren</a></li>
            <li><a href="">Referenties</a></li>
            <li><a href="">Advies</a></li>
        </ul>
        <a href="">e_book</a>
        {% endblock %}
    </div>

    <div id="content">

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

        {% block content %}This is the content area{% endblock %}

	<div class="clearfix"></div>

    </div>

	</div>

    <div id="footer">
        <p>volg ons op:</p>
        <ul>
            <li><a href="">Vastgoed & advies</a></li>
            <li><a href="">Disclaimer</a></li>
            <li><a href="">Sitemap</a></li>
            <li><a href="">Privacybeleid</a></li>
            <li>Copyright@2016 viaSofie</li>
        </ul>
    </div>

</body>
</html>
