{% extends "templates/base.html" %}

{% block content %}


	<h2>Contact</h2>
	<form role="form" action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
	<div class="row">
		<div class="col-md-6 card">
				<h4>contactinformatie</h4>
				<h4>sofie@yahoo.com</h4>
				<h4>Mussenhoevelaan 101, 2530 Boechout</h4>
				<h4>+32 (0)483 71 37 10</h4>
		</div>
		<div class="col-md-6 card">
			<div id="map"></div>

					<script src="https://maps.googleapis.com/maps/api/js?api=AIzaSyDUmF8BiIKmIMKRLbvE1RBCSaktba0Y3g0"></script>
					<script>
						geocoder = new google.maps.Geocoder();

						function initMap() {

						var address = "Mussenhoevelaan 101" ;

						geocoder.geocode( { 'address' : address }, function( results, status ) {
						if( status == google.maps.GeocoderStatus.OK ) {

						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 15,
							center: results[0].geometry.location
						});

						map.setCenter( results[0].geometry.location );
						var marker = new google.maps.Marker( {
								map     : map,
								position: results[0].geometry.location
						} );
						} else {
						alert( 'Geocode was not successful for the following reason: ' + status );
						}
						} );
						}


						google.maps.event.addDomListener(window, 'load',  initMap);
					</script>

			</div>
		</div>

{% endblock %}
