{% extends "templates/base.html" %}

{% block content %}
	
	<h2>Contact</h2>
	<div class="row">
		<form role="form" action="" method="post">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
				<div class='row'>
	        		<label class="control-label col-md-2" for="{{ field.name }}">{{ field.label }}</label>
					<div class="col-md-7">
						{{ field }} {{ field.errors }}
					</div>
				</div>
			</div>
    	{% endfor %}
		<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-7">
      	<input type="submit" value="Register" class="btn btn-default"/>
    	</div>
		</form>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6 card">
				<h4>contactinformatie</h4>
				<h4>sofie@yahoo.com</h4>
				<h4>Mussenhoevelaan 101, 2530 Boechout</h4>
				<h4>+32 (0)483 71 37 10</h4>
		</div>
		<div class="col-md-6 card">
			<div id="map"></div>

					<script src="https://maps.googleapis.com/maps/api/js?api=AIzaSyDUmF8BiIKmIMKRLbvE1RBCSaktba0Y3g0"></script>
					<script>
						geocoder = new google.maps.Geocoder();

						function initMap() {

						var address = "Mussenhoevelaan 101" ;

						geocoder.geocode( { 'address' : address }, function( results, status ) {
						if( status == google.maps.GeocoderStatus.OK ) {

						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 15,
							center: results[0].geometry.location
						});

						map.setCenter( results[0].geometry.location );
						var marker = new google.maps.Marker( {
								map     : map,
								position: results[0].geometry.location
						} );
						} else {
						alert( 'Geocode was not successful for the following reason: ' + status );
						}
						} );
						}


						google.maps.event.addDomListener(window, 'load',  initMap);
					</script>

			</div>
		</div>

{% endblock %}
