{% extends "templates/base.html" %}

{% block content %}


	<div class = "container"><!--hier start midden content-->
	<h2>Ebook aanvragen:</h2>
	<form action="/ebook" method="post" role="form" class="form-horizontal">{% csrf_token %}
		<!-- {{form}} -->
		{% for field in form %}
			<div class="form-group">
				<div class='row'>
	        		<label class="control-label col-md-2" for="{{ field.name }}">{{ field.label }}</label>
					<div class="col-md-7">
						{{ field }} {{ field.errors }}
					</div>
				</div>
			</div>
    	{% endfor %}
		<div class="form-group">
    	<div class="col-sm-offset-1 col-sm-7">
      	<input type="submit" value="Register" class="btn btn-default"/>
    	</div>
  	</div>
	</form>
	{% if form.errors %}
    	{% for field in form %}
        	% for error in field.errors %}
            	<div class="alert alert-error">
                	<strong>{{ error|escape }}</strong>
           		</div>
        	{% endfor %}
    	{% endfor %}
    	{% for error in form.non_field_errors %}
	        <div class="alert alert-error">
	            <strong>{{ error|escape }}</strong>
	        </div>
	    {% endfor %}
	{% endif %}
</div><!--hier eindigt midden content-->

{% endblock %}
