{% extends "templates/base.html" %}

{% block content %}


	<p>Faq</p>
	<h2>{{ Faq.question }}</h2>
	<p>{{ Faq.answer }}</p>

	{% if Faq %}
		<ul>
				{% for faq in Faq %}
				<li>{{ faq.question }}</li>
				{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}

	<h2>Vraag 2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis egestas arcu, et eleifend diam lacinia quis. Proin iaculis, mi eu ullamcorper cursus, turpis lorem ultrices mauris, quis tristique sem orci et ante. In fermentum dui vitae lorem interdum sagittis a sed urna. Curabitur ac orci nec urna consectetur tincidunt. Nullam nulla est, efficitur vitae justo et, scelerisque molestie tortor. Suspendisse potenti. Nulla dictum eget orci sit amet venenatis. Quisque mauris leo, pellentesque sit amet lectus et, mollis aliquet nunc.</p>

{% endblock %}
