{% extends "templates/base.html" %}

{% block content %}

	<h1>FAQ</h1>

		{% for faq in Faq %}
		<h2>{{ faq.question }}</h2>
		<h3>{{ faq.answer }}</h3>
		</bk>
		{% endfor %}
	</br>
	<h4>De inlichtingen zoals meegedeeld op deze pagina zijn louter van algemene aard en kunnen geenszins als sluitende professionele juridische adviesverlening aangepast aan specifieke of concrete persoonlijke omstandigheden worden beschouwd.</h4>
	</br>
	<h4>Hebt u vragen over het te koop stellen van een onroerend goed? Wilt u er zeker van zijn dat uw verkoopdossier volledig is? Neem vrijblijvend contact op!</h4>
{% endblock %}
