{% extends "templates/base.html" %}

{% block content %}
<h4>{% trans "faq header" %}</h4>
<div class="container">
  <div class="panel-group" id="accordion">
		{% for faq in Faq %}{}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href=#{{ faq.id }}>{{ faq.question }}</a>
        </h4>
      </div>
      <div id={{ faq.id }} class="panel-collapse collapse">
        <div class="panel-body">{{ faq.answer }}</div>
      </div>
    </div>
		{% endfor %}
  </div>
</div>
	</br>
  <h4>{% trans "faq footer 1" %}</h4>
	</br>
  <h5>{% trans "faq footer 2" %}</h5>
{% endblock %}
