{% extends "templates/base.html" %}
{% load static %}
{% block content %}

<div class = "container"><!--hier begint de boven content-->
	<div class = "jumbotron jumbotron-static-top" >
		<center>
			<img src="{% static "WebAppSofie/images/def_logos_via_sofie-RGB-01.png" %}" width="20%" height="5%"  class="img-rounded"/>
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<a class = "btn btn-default">extra button!</a>
			<a class = "btn btn-default">second extra button!</a>
		</center>
	</div>
</div><!--hier eindigt de boven content-->

<div class = "container"><!--hier start midden content-->
	<h3>Te koop</h3>
	<div class="row">
		<center>
			{% for sale in Sales %}
			<div class ="col-md-3">
				<div class="card">
					{% if sale.get_priorityImage %}
					{% for image in sale.get_priorityImage %}
					<img class="card-img-top test12 img-rounded img-fluid" src="{{ image.photo.url }}" alt="Card image cap">
					{%endfor%}
					{%else%}
					<img class="card-img-top test12 img-rounded img-fluid" src="/media/nophoto.png" alt="Card image cap">
					{%endif%}
					<div class="card-block text-xs-center">
						<h4 class="card-title test123">{{ sale.title_dutch }}</h4>
						<p class="card-text test12">{{ sale.description_dutch }}</p>
						<a href="/sales/property/{{ property.id }}/" class="btn btn-house">Read More</a>
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"4" %}
				<div class="clearfix visible-md-block"></div>
			{% endif %}
			{%endfor%}
		</center>
	</div>
	<h3>Te Huur</h3>
	<div class="row">
		<center>
			{% for rent in Rents %}
			<div class ="col-md-3">
				<div class="card">
					<img class="card-img-top test12 img-rounded img-fluid" src="/static/WebAppSofie/images/light-house-night-photography.jpg" alt="Card image cap">
					<div class="card-block text-xs-center">
						<h4 class="card-title test123">{{ rent.title_dutch }}</h4>
						<p class="card-text test12">{{ rent.description_dutch }}</p>
						<a href="/sales/property/{{ property.id }}/" class="btn btn-house">Read More</a>
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"4" %}
				<div class="clearfix visible-md-block"></div>
			{% endif %}
			{%endfor%}
		</center>
	</div>
</div>
<div class="clearfix"></div>

{% endblock %}
