{% extends "templates/base.html" %}

{% block content %}

	{% if form.errors %}
		<p class="error"> Sorry, that's not a valid username or password</p>
	{% endif %}
	<div class="container">
	<form action="/accounts/auth/" class="form-horizontal" method="post" role="form">{% csrf_token %} <!-- cross site scripting defend token -->
		<div class="form-group">
			<div class="row">
				<label class="control-label col-sm-2" for="username">Username:</label>
				<div class="col-sm-6">
					<input type="text" name="username" value="" class="form-control" id="username">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="control-label col-sm-2" for="password">Password:</label>
				<div class="col-sm-6">
					<input type="password" name="password" class="form-control" value="" id="password">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
	    	<div class="col-sm-offset-2 col-sm-6">
					<input type="submit" class="form-control" value="login" />
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
