{% extends "templates/base.html" %}

{% block content %}
  <form type="get" action=".">
    <input type="text" name="q">
    <button type="submit">Search</button>
  </form>
  <h2>Aanbod</h2>
  <div class = ".container-fluid">
  	<div class = "row inline-block-row">
  		{% for pand in panden %}
        <div class ="col-md-3">
  				<div class="card">
            {% if pand.get_priorityImage %}
  					{% for image in pand.get_priorityImage %}
  					<img class="card-img-top test12 img-rounded img-fluid" src="{{ image.photo.url }}" alt="Card image cap">
  					{%endfor%}
  					{%else%}
  					<img class="card-img-top test12 img-rounded img-fluid" src="/media/nophoto.png" alt="Card image cap">
  					{%endif%}
  				  <div class="card-block text-xs-center">
  				    <h4 class="card-title test123">{{ pand.title_dutch }}</h4>
  				    <p class="card-text test12">{{ pand.description_dutch }}</p>
              <script>
                  var str = "How are you doing today?";
                  var res = str.split(".");
                  var res1 = res[2]
                  var a = document.getElementById("test1");
                  a.href = "/sales/property/"+res1"/";
              </script>
  				    <a id="test1" href="/sales/property/{{ pand.id }}/" class="btn btn-house">Read More</a>
  				  </div>
  				</div>
        </div>
  			{% if forloop.counter|divisibleby:"4" %}
  				<div class="clearfix visible-md-block"></div>
  			{% endif %}
  		{%endfor%}
  	</div>
  </div>
{% endblock %}
