{% extends "templates/base.html" %}

{% block content %}

	<h2>Aanbod</h2>
	<div class = ".container">
	<div class = "row">
          <div class ="col-md-3 col-sm-3">
            <h3><a href ="#">Huis 1</a></h3>
            <img src="../../static/WebAppSofie/images/Fotolia_44165827-74936f52.jpg" width="100%"height="10%"  class="img-rounded img-responsive"/>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href = "#" class = "btn btn-default">Read More</a>
          </div>

          <div class ="col-md-3 col-sm-3">
            <h3><a href ="#">Huis 2</a></h3>
            <img src="../../static/WebAppSofie/images/architectural-photography-house-heriot.jpg" width="90%" height="10%" class="img-rounded img-responsive"/>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             <a href = "#" class = "btn btn-default">Read More</a>
          </div>

          <div class ="col-md-3 col-sm-3">
            <h3><a href ="#">Huis 3</a></h3>
            <img src="../../static/WebAppSofie/images/light-house-night-photography.jpg" width="90%" height="10%"  class="img-rounded img-responsive"/>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href = "#" class = "btn btn-default">Read More</a>
          </div>

          	<div class ="col-md-3 col-sm-3">
            	<h3><a href ="#">Huis 4</a></h3>
            	<img src="../../static/WebAppSofie/images/architecture-photography-houses-charming-brunosilvestrearchitecture.jpg" width="90%" height="10%"  class="img-rounded img-responsive"/>
            	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            	<a href = "#" class = "btn btn-default">Read More</a>
            </div>

			<div class ="col-md-3 col-sm-3">
            	<h3><a href ="#">Huis 5</a></h3>
            	<img src="../../static/WebAppSofie/images/architecture-photography-houses-charming-brunosilvestrearchitecture.jpg" width="90%" height="10%"  class="img-rounded img-responsive"/>
            	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            	<a href = "#" class = "btn btn-default">Read More</a>
            </div>

            <div class ="col-md-3 col-sm-3">
            	<h3><a href ="#">Huis 6</a></h3>
            	<img src="../../static/WebAppSofie/images/light-house-night-photography.jpg" width="90%" height="10%"  class="img-rounded img-responsive"/>
            	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            	<a href = "#" class = "btn btn-default">Read More</a>
            </div>
    </div>
		</div>

{% endblock %}
