{% extends "templates/base.html" %}

{% block content %}

	<h2>{{ Property.title_dutch }}</h2>
    </style>
	<h3>Huis OB, 4slpkrs, 2bdkmrs, rustig gelegen, nieuwbouw</h3>

	<div class = "container"><!--hier start midden content-->
        <div class = "row">
          	<center>
	          	<div class ="col-md-9"> <!-- carousel foto's niet automatisch -->
	            	<img src="/static/WebAppSofie/images/Fotolia_44165827-74936f52.jpg" width="100%"height="10%"  class="img-rounded"/>
	          	</div>

	          	<div class ="col-md-3">
	            	<h3>Eigenschappen</h3>
	            	<p><span>Type bebouwing:</span> {{ Property.buildingtype }}</p>
	            	<p><span>Oppervlakte:</span> {{ Property.area }}</p>
	            	<p><span>Bewoonbare oppervlakte:</span> {{ Property.livingarea }}</p>
	            	<p><span>Bouwjaar:</span> {{ Property.year }}</p>
	            	<p><span>Katastraal inkomen:</span> Ungiven</p>
	            	<p><span>ID:</span> wat moet hier?</p>
	          	</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-12">
					<h3>Omschrijving</h3>
					<p>{{ Property.description_dutch }}</p>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-6">
					<h3>Energy</h3>
					<p><span>Energie label:</span> {{ Property.energy_label }}</p>
					<p><span>Verwarming:</span> {{ Property.heating_type }}</p>
				</div>
				<div class="col-md-6">
					<h3>Extra informatie</h3>
					<p>{{ Property.extra_information_dutch }}</p>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-9">
					<h3>Oppervlaktes</h3>
					<div class="row">
						<div class="col-md-4">
							<p><span>Woonkamer:</span> <50/p>

						</div>
						<div class="col-md-4 col-md-offset-1">
							{% for bathrooms in Bathrooms %}
							<p><span>Badkamer:</span> {{ bathrooms.area }}</p>
							{%endfor%}
						</div>
					</div>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-6">
					<h3>info</h3>
					<p><span>Voorkooprecht:</span> Nee</p>
					<p><span>Bouwvergunning:</span> Ja</p>
					<p><span>Dagvaarding:</span> Nee</p>
					<p><span>Verkaveling:</span> Ja</p>
					<p><span>Juridische beslissing:</span> Nee</p>
					<p><span>Co2 emissie:</span> 100g</p>
					<p><span>EPC:</span> 2</p>
					<p><span>Unique code:</span> 1456981</p>
				</div>
				<div class="col-md-6">
					<div id="map"></div>
					    <script>
					      function initMap() {
					        var myLatLng = {lat: 51.0493098, lng: 4.304124};

		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 16,
		          center: myLatLng
		        });
					        var map = new google.maps.Map(document.getElementById('map'), {
					          zoom: 10,
					          center: myLatLng
					        });

					        var marker = new google.maps.Marker({
					          position: myLatLng,
					          map: map,
					          title: 'Hello World!'
					        });
					      }
					    </script>
					    <script async defer
					    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpFy6NnC1cbEvM8bLRAgzGskxYUeTL-_M&callback=initMap">
					    </script>
					</div>
				<div class="col-md-6">
					<h3>Documenten</h3>
					<p>hier zullen documenten opgelijst worden</p>
				</div>
			</center>
		</div>
	</div>
{% endblock %}
