{% load i18n %}
{% extends "templates/base.html" %}

{% block content %}


	<h2>{{ Property.title_dutch }}</h2>
    </style>
	<h4>{{  Property.title_dutch  }}</h4>

	<div class = "container"><!--hier start midden content-->
        <div class = "row">
          	<center>
	          	<div class ="col-md-9"> <!-- carousel foto's niet automatisch -->
	            	<img src="/static/WebAppSofie/images/Fotolia_44165827-74936f52.jpg" width="100%"height="10%"  class="img-rounded"/>
	          	</div>

	          	<div class ="col-md-3">
	            	<h3>{% trans "properties" %}</h3>
	            	<p><span>{% trans "building type" %}:</span> {{ Property.buildingtype }}</p>
	            	<p><span>{% trans "bedrooms" %}:</span> {{ Bedroomcount }}</p>
	            	<p><span>{% trans "bathrooms" %}:</span> {{Bathroomcount}}</p>
	            	<p><span>{% trans "area" %}:</span> {{ Property.area }}</p>
	            	<p><span>{% trans "livingarea" %}:</span> {{ Property.livingarea }}</p>
	            	<p><span>{% trans "year" %}:</span> {{ Property.year }}</p>
	            	<p><span>{% trans "kadastraal inkomen" %}:</span> Ungiven</p>
	            	<p><span>ID:</span> {{ Property.id }}</p>
	          	</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-12">
					<h3>{% trans "description" %}</h3>
					<p>{{ Property.description_dutch }}</p>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-6">
					<h3>{% trans "energy %}</h3>
					<p><span>{% trans "energy label" %}:</span> {{ Property.energy_label }}</p>
					<p><span>{% trans heating %}:</span> {{ Property.heating_type }}</p>
				</div>
				<div class="col-md-6">
					<h3>{% trans "extra information" %}</h3>
					<p>{{ Property.extra_information_dutch }}</p>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-9">
					<h3>{% trans "areas" %}</h3>
					<div class="row">
						<div class="col-md-4">
							{% for livingrooms in Livingrooms %}
								<p><span>{% trans "livingroom"%}:</span> {{ livingrooms.area }}</p>
							{% endfor %}
							{% for kitchens in Kitchens %}
								<p><span>{% trans "kitchen" %}:</span> {{ kitchens.area }}</p>
							{%endfor%}
							{% for bedrooms in Bedrooms %}
								<p><span>{% trans "bedroom" %}:</span> {{ bedrooms.area }}</p>
							{%endfor%}
						</div>
						<div class="col-md-4 col-md-offset-1">
							{% for bathrooms in Bathrooms %}
							<p><span>{% trans "bathroom" %}:</span> {{ bathrooms.area }}</p>
							{%endfor%}
						</div>
					</div>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-6">
					<h3>Info</h3>
					<p><span>{% trans "verkooprecht" %}:</span> Nee</p>
					<p><span>{% trans "bouwvergunning" %}:</span> Ja</p>
					<p><span>{% trans "dagvaarding" %}:</span> Nee</p>
					<p><span>{% trans "verkaveling" %}:</span> Ja</p>
					<p><span>{% trans "juridische beslissing" %}:</span> Nee</p>
					<p><span>{% trans "co2 emmision" %}:</span> 100g</p>
					<p><span>{% trans "EPC" %}:</span> 2</p>
					<p><span>{% trans "unique id" %}:</span> 1456981</p>
				</div>
				<div class="col-md-6">
					<div id="map"></div>
					    <script>
					      function initMap() {
					        var myLatLng = {lat: 51.0493098, lng: 4.304124};

		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 16,
		          center: myLatLng
		        });
					        var map = new google.maps.Map(document.getElementById('map'), {
					          zoom: 10,
					          center: myLatLng
					        });

					        var marker = new google.maps.Marker({
					          position: myLatLng,
					          map: map,
					          title: 'Hello World!'
					        });
					      }
					    </script>
					    <script async defer
					    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpFy6NnC1cbEvM8bLRAgzGskxYUeTL-_M&callback=initMap">
					    </script>
					</div>
				<div class="col-md-6">
					<h3>{% trans "documents" %}</h3>
					<p>hier zullen documenten opgelijst worden</p>
				</div>
			</center>
		</div>
	</div>
{% endblock %}
