{% extends "templates/base.html" %}

{% block content %}

	<style>
      #map {
        height: 250px;
      }
    </style>
	<h2>huis</h2>
	<h3>Huis OB, 4slpkrs, 2bdkmrs, rustig gelegen, nieuwbouw</h3>

	<div class = "container"><!--hier start midden content-->
        <div class = "row">
          	<center>
	          	<div class ="col-md-9"> <!-- carousel foto's niet automatisch -->
	            	<img src="../../static/WebAppSofie/images/Fotolia_44165827-74936f52.jpg" width="100%"height="10%"  class="img-rounded"/>
	          	</div>

	          	<div class ="col-md-3">
	            	<h3>Eigenschappen</h3>
	            	<p><span>Type bebouwing:</span> open</p>
	            	<p><span>Aantal slaapkamers:</span> 4</p>
	            	<p><span>Aantal badkamers:</span> 2</p>
	            	<p><span>Oppervlakte:</span> 200m²</p>
	            	<p><span>Bewoonbare oppervlakte:</span> 150m²</p>
	            	<p><span>Bouwjaar:</span> 2000</p>
	            	<p><span>Katastraal inkomen:</span> 800</p>
	          	</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-12">
					<h3>Omschrijving</h3>
					<p>Dit open bebouwing huis dat rustig gelegen is. Het huis is recent gebouwd en er is dus geen renovatie nodig. In het huis zijn 4 slaapkamers en 2 badkamers aanwezig. Er zijn garages voorzien voor 2 wagens en op de oprit kunnen nog eens 2 wagens staan zonder dat ze de garagepoorten blokkeren. Keuken is voorzien van apparatuur.</p>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
				<div class="col-md-6">
					<h3>Energy</h3>
					<p><span>Energie label:</span> A+</p>
					<p><span>Verwarming:</span> Stookolie</p>
				</div>
				<div class="col-md-6">
					<h3>Extra informatie</h3>
					<p>Hier komt extra informatie te staan</p>
				</div>
			</center>
		</div>
		<div class="row">
			<center>
			<div class="col-md-6">
				<div id="map"></div>
		    <script>
		      function initMap() {
		        var myLatLng = {lat: 51.0493098, lng: 4.304124};

		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 10,
		          center: myLatLng
		        });

		        var marker = new google.maps.Marker({
		          position: myLatLng,
		          map: map,
		          title: 'Hello World!'
		        });
		      }
		    </script>
		    <script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpFy6NnC1cbEvM8bLRAgzGskxYUeTL-_M&callback=initMap">
		    </script>
			</div>
			<div class="col-md-6">
				<h3>Documenten</h3>
				<p>hier zullen documenten opgelijst worden</p>
			</div>
			</center>
		</div>
	</div>


{% endblock %}
